{# about_news_page #}
{% extends "about/about_base.html" %}

{% block сtitle %}<h2>Новости о разработке</h2>{% endblock %}

{% block content %}
   
		<br> 
        <h3>v 0.03 - 2012.02.20</h3> 
        <ul> 
            <li>Возвращаемся к обычному интерфейсу</li> 
        </ul> 
		
		<br> 
        <h3>v 0.03 - 2010.12.20</h3> 
        <ul> 
            <li>Адаптация интерфейса под новый год.)</li> 
        </ul> 
    
        <br> 
        <h3>v 0.02 - 2010.12.13</h3> 
        <ul> 
            <li>Адаптация интерфейса</li> 
        </ul> 
        
        <br> 
        <h3>v 0.01 - 2010.10.13</h3> 
        <ul> 
            <li>Старт проекта</li> 
        </ul> 
        
   
 
{% endblock %}





