{# register_page #}
{% extends "base.html" %}
{% block title %}Усрешно{% endblock %}
{% block head %}Register{% endblock %}



{% block nav_title %}Меню{% endblock %}


{% block nav_items %}
    <ul>
        <li><a href="/login/">Вход</a></li>
    </ul>
{% endblock %}



{% block main_content %}
   
    
    <div id="content_title"><h2>Регистрация прошла успешно</h2></div>
    
    <div id="content_item">
        <p>Спасибо, что зарегистрировались в нашей системе.</p>
        <p>Теперь вы можете <a href="/login/">войти</a></p>

    </div> 
    
    
    
    
{% endblock %}



