{# bookmark_page #}
{% extends "bookmarks/bookmarks_base.html" %}

{% load comments %}

{% block сtitle %} <h2>{{ shared_bookmark.bookmark.title }}</h2> {% endblock %}

{% block content %}

    
   
    <a href="{{ shared_bookmark.bookmark.link.url }}" class="title"><b>{{ shared_bookmark.bookmark.title }}</b></a>
    Размещена:
    <a href="/user/{{ shared_bookmark.bookmark.user.username }}/" class="username">{{ shared_bookmark.bookmark.user.username }}</a> | <span class="vote-count">Голосов: {{ shared_bookmark.votes }}</span>
     [<a href="/bookmarks/vote/?id={{ shared_bookmark.id }}" class="vote">+</a>]


    <br/>
    <br/>
    <br/>

    {% get_comment_count for bookmarks.sharedbookmark shared_bookmark.id as comment_count %}
    <h2>Коментарии ({{ comment_count }})</h2>
    
    {% get_comment_list for bookmarks.sharedbookmark shared_bookmark.id as comment_list %}
    {% for comment in comment_list %}
        <div class="comment">
            <p><b>{{ comment.user.username }}</b> said:</p>
            {{ comment.comment|escape|urlizetrunc:40|linebreaks }}
        </div>
    {% endfor %}
    
    {% render_comment_form for bookmarks.sharedbookmark shared_bookmark.id %}

    
    
    
    
    
{% endblock %}

