{% extends "base.html" %}
{% block title %}Закладки{% endblock %}
{% block head %}Закладки{% endblock %}
{% block external %}{#<script type="text/javascript" src="/site_media/js/search.js"></script>#}{% endblock %}

{% block current_bookmarks %} class="current" {% endblock %}
{% block nav_title %}Закладки{% endblock %}

{% block nav_items %}
    <ul>
        {% if user.is_authenticated %}
           <li><a href="/bookmarks/user/{{ user.username }}">Мои закладки</a></li> 
           <li><a href="/bookmarks/save/">Добавить закладку</a></li> 
        {% endif %}
        
        {#<li><a href="/null/">----------</a></li>#}
        <li><a href="/bookmarks/search/">Поиск</a></li>
        <li><a href="/bookmarks/tag/">Облако</a></li>
        {#<li><a href="/bookmarks/popular/">Популярные</a></li>#}{#пока отключим#}
    </ul>
{% endblock %}


{% block main_content %}
   
    
    <div id="content_title">{% block сtitle %}{% endblock %}</div>
    <div id="content_items">
    
        {% block content %}<!-- content -->{% endblock %}
        
    </div>
 
{% endblock %}





