{# bookmarks main_page #}
{% extends "bookmarks/bookmarks_base.html" %}


{% block сtitle %} <h2>Закладки - главная</h2> {% endblock %}

{% block content %}
    
    
    {% if user.username %}
        <p>Добро пожаловать <span class="color_title">{{ user.username }}</span> на страничку закладок.</p>
    {% else %}
        <p>Добро пожаловать на страничку закладок. Здесь Вы можете видеть закладки пользователей. О том как стать пользователем читаем <a href="/login_help/">тут</a>.</p>
    {% endif %}
    
    
    
    
    <h2>Последние закладки</h2>
        {#% include "shared_bookmark_list.html" %#}

    
    
        {% if shared_bookmarks %}{# если есть закладки #}
            <ul class="bookmarks">
                {% for shared_bookmark in shared_bookmarks %}
                <li>
                    
                    <a href="{{ shared_bookmark.bookmark.link.url }}" class="title"><b>{{ shared_bookmark.bookmark.title }}</b></a>
                    <br/>
                    Размещена:
                    {#<a href="/bookmarks/user/{{ shared_bookmark.bookmark.user.username }}/" class="username">#}{{ shared_bookmark.bookmark.user.username }}</a>
                    | <span class="vote-count">Голосов:{{ shared_bookmark.votes }}</span>
                    [<a href="/bookmarks/vote/?id={{ shared_bookmark.id }}" class="vote">+</a>] 
                    
                    {# пока отключим комментарии #}
                    {#| <a href="/bookmarks/bookmark/{{ shared_bookmark.id }}">Коментарии</a>#}
                    
                    
                </li>
                {% endfor %}
            </ul>
        {% else %}{# если нет #}
            <p>Закладок нет.</p>
        {% endif %}

    
    
    
    
{% endblock %}


