{# bookmarks search #}
{% extends "bookmarks/bookmarks_base.html" %}


{% block сtitle %} <h2>Поиск по закладкам</h2> {% endblock %}

{% block content %}
    
    
    <form id="search-form" method="get" action=".">{% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Поиск" />
    </form>

    <br/>
    
    
    {% if bookmarks %}
        <ul>
        {% for bookmark in bookmarks %}
            <li><a href="{{ bookmark.link.url }}"><b>{{ bookmark.title }}</b></a></li>
                Тэги:
                {% if bookmark.tag_set.all %}
                <ul class="tags">
                    {% for tag in bookmark.tag_set.all %}
                    <li><a href="/bookmarks/tag/{{ tag.name }}/">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                    None.
                {% endif %}
        {% endfor %}
        </ul>
    
    {% else %}
        <p>Закладки не найдены</p>
    {% endif %}
         
    
    
{% endblock %}

