{# bookmarks tag_page #}
{% extends "bookmarks/bookmarks_base.html" %}


{% block сtitle %} <h2>Закладки c тэгом {{ tag_name }}</h2> {% endblock %}

{% block content %}
    
    {% if bookmarks %}
        <ul>
        {% for bookmark in bookmarks %}
            <li><a href="{{ bookmark.link.url }}"><b>{{ bookmark.title }}</b></a></li>
                Тэги:
                {% if bookmark.tag_set.all %}
                <ul class="tags">
                    {% for tag in bookmark.tag_set.all %}
                        <li><a href="/bookmarks/tag/{{ tag.name }}/">
                            {% if tag.name == tag_name %}
                                {# для выделения - пока ничего нет #}{{ tag.name }}
                            {% else %}
                                {{ tag.name }}
                            {% endif %}
                        </a></li>
                    {% endfor %}
                </ul>
                {% else %}
                    None.
                {% endif %}
        {% endfor %}
        </ul>
    
    {% else %}
        <p>Закладок с тэгом {{ tag_name }} - не найдено, а поэтому есть какая-то ошибка. Пожалуйста свяжитесь с администратором сервиса.</p>
    {% endif %}
         
    
    
{% endblock %}


{% block add_content %}

    <!--<h2>Примечания:</h2>
    <ul style="width: 100%">  
        <li>На этой странице представлен список поездок, которые совершал заданный пользователь.</li>
        <li>При щелчке на имени завода произойдет выборка поездок по этому заводу.</li>
        <li>Для изменений данных об объекте необходимо щелкнуть по надписи "Изменить запись".</li>
        <li>При щелчке на надписи "Удалить запись" - произойдет удаление записи из базы данных.</li>
    </ul>-->
    
{% endblock %}
