{# bookmarks user_page #}
{% extends "bookmarks/bookmarks_base.html" %}


{% block сtitle %} <h2>Закладки пользователя <span class="color_title">{{ username }}</span></h2> {% endblock %}

{% block content %}
    <div id="add_opt">
        <a href="/bookmarks/save/">Добавить закладку</a>
    </div>
    
    {% if bookmarks %}
        <ul>
        {% for bookmark in bookmarks %}
            <li>
                <a href="{{ bookmark.link.url }}">{{ bookmark.title }}</a>
                [<a href="/bookmarks/save/?url={{ bookmark.link.url|urlencode }}">изменить</a> |
                <a href="/bookmarks/safe_delete/?url={{ bookmark.link.url|urlencode }}">удалить</a>
                ]

            </li>
                Тэги:
                {% if bookmark.tag_set.all %}
                <ul class="tags">
                    {% for tag in bookmark.tag_set.all %}
                    <li><a href="/bookmarks/tag/{{ tag.name }}/">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                    -
                {% endif %}
        {% endfor %}
        </ul>
    
    {% else %}
        <p>Закладок нет. <a href="/bookmarks/save/">Добавить закладку</a></p>
    {% endif %}
         
    
    
{% endblock %}



