{# about_page #}
{% extends "base.html" %}
{% block title %}О проекте{% endblock %}
{% block head %}О проекте{% endblock %}




{% block sidebar %}
<div id="main_nav">
    
</div>
{% endblock %}

{% block main_content %}
   
    
   
    
    <div id="content_items">
    
        <h1 align="center">Сайт на Django</h1>
        
        <p>На данном сайте будет находится различная информация(какая - пока неизвестно)))))</p>
        
        <p>Хостинг предоставлен сайтом <a href="http://www.alwaysdata.com/" >http://www.alwaysdata.com/</a></p>
        
        
    </div>
 
{% endblock %}





