<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-language" content="ru">
    <meta name="description" content="Django">
    {#<link rel="shortcut icon" href="/site_media/images/favicon.ico" />#}
    <meta name="author" content="Нефёдкин Игорь Алексеевич">
    
    <title>ALife... | {% block title %}{% endblock %}</title>
    
    {# Наш стиль #}
    <link rel="stylesheet" href="/site_media/css/style.css" media="screen" type="text/css">
    {#<link rel="stylesheet" href="/site_media/css/print.css" media="print" type="text/css">#}
    
    {# jquery #}
    <script src="/site_media/js/jquery.js" type="text/javascript"></script>
    
    {# скругление уголков #}
    <script src="/site_media/js/jquery.corner.js" type="text/javascript"></script>
    
    {# редактор #}
    {#<script type="text/javascript" src="/site_media/js/tiny_mce/tiny_mce.js"></script> #}
    
    {# подсказки в полях ввода #}
    {#<script type="text/javascript" src="/site_media/js/watermarkinput.js"></script> #}
    
    
    
    
    {# для дополнительных инклудов #}
    {% block external %}{% endblock %}
    
    
    
    
    <script type="text/javascript" >
        $('.box').corner('3px');
    </script>
   
</head>

<body>
<div id="content">


{#-- header -----------------------------------------------------------#}
<div id="header">
   
    <div id="user_menu">
        {% if user.is_authenticated %}
            {{ user.username }} (<a href="/logout">выход</a>)
        {% else %}
            <a href="/login/">вход</a> 
            <!--|
            <a href="/register/">регистрация</a>-->
        {% endif %}
    </div>
   
   
   
   
    <!--<div id="h_content" >
        <div id="logo"><a href="/" title="Главная"><img src="/site_media/images/logo.png" alt="Comcon"/></a></div>
        <div id="h_title">
            <div id="h_logo"><p>Another Life...</p></div>
            <div id="h_text">
                <h1 class="h_title" >{% block head %}{% endblock %}</h1>
            </div>
        </div>
        
    </div>
    
    <div id="h_nav">
            <a class="h_nav" href="/">Главная</a> |
            <a class="h_nav" href="/bookmarks/">Закладки</a> |
            <a class="h_nav" href="/about/">О проекте</a> 
    </div>-->
    
    <div id="logo">
        <p>другая жизнь...</p>
        <h1><a class="no_style" href="/">Another Life...</a></h1>
    </div>
    <ul id="menu">
        <li><a {% block current_main %}{% endblock %} href="/">Главная</a></li>
        {#<li><a {% block current_bookmarks %}{% endblock %} href="/bookmarks/">Закладки</a></li>#}
        <li><a {% block current_blog %}{% endblock %} href="/blog/">Блог</a></li>
        <li><a {% block current_about %}{% endblock %} href="/about/">О проекте</a></li>
    </ul>
    
</div>
{#---------------------------------------------------------------------#}



<div class="clear"><br /></div>



{#-- central ----------------------------------------------------------#}
<div id="central">    
  
    <div id="sidebar">
        <div id="main_nav">
            
            <div id="nav_items" class="box">
                <div id="nav_title" class="caption">
                    {% block nav_title %}{% endblock %}
                </div>
                {% block nav_items %}{% endblock %}
            </div>
        </div>
        
    </div>
    
    <div id="center">
        <div id="main_content" class="content">{% block main_content %}{% endblock %}</div>
        <div id="add_content">{% block add_content %}{%endblock%}</div>
    </div>

</div>
{#---------------------------------------------------------------------#}






{#-- footer -----------------------------------------------------------#}
    <div id="footer">
        <div id="add_info_left">
            Хостинг предоставлен <a href="http://www.alwaysdata.com/" >alwaysdata.com</a>
        </div>
        <div id="copyright">
            &copy; Copyright 2011 Deep Studio
        </div>
        
        {% load extras %} {# мой обработчик шаблона - пока через фильтр #}
        <div id="version">v. {{ x|pro_version }} </div>
    </div>
{#---------------------------------------------------------------------#}



</div>
</body>
</html>
