{# login_help #}
{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}
{% block head %}Регистрация{% endblock %}


{% block current_main %} class="current" {% endblock %}
{% block nav_title %}Главная{% endblock %}


{% block nav_items %}
    <ul>
        <li><a href="/bookmarks/">Закладки</a></li>
        <li><a href="/about/">О проекте</a></li>
    </ul>
{% endblock %}



{% block main_content %}
   
    
    <div id="content_title"><h2>Регистрация</h2></div>
    
    <div id="content_item">
    
        
        <p> Для того чтобы стать пользователем, необходимо зарегестрироваться. Но пока эта функция не доступна, поэтому, если уж очень хочется попользоваться сервисом - напишите письмо на адресс sysdeep@yandex.ru, надеюсь на ваще понимание.</p>
        
        
        
        
    </div>
 
{% endblock %}




