{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block head %}Главная{% endblock %}




{% block sidebar %}
<div id="main_nav">
    <!-- навигация -->
    <!--<div id="nav_title"><p class="c_title">Главная</p></div>-->
        
    <div id="nav_items">
        <p><a class="nav_link" href="/111/">111</a></p>
        <p><a class="nav_link" href="/222/">222</a></p>
        <!--<p><a class="nav_link" href="/projects/">Проекты</a></p>
        <p><a class="nav_link" href="/electronic_modules/">Модули</a></p>
        <p><a class="nav_link" href="/elc/">Склад</a></p>
        <p><a class="nav_link" href="/o_data/">Другие данные</a></p>
        <p><a class="nav_link" href="/service/">Сервис</a></p>
        <p><a class="nav_link" href="/help/">Помощь</a></p>-->
    </div>
</div>
{% endblock %}

{% block main_content %}
   
    
    <!--<div id="content_title"><p class="c_title">Главная</p></div>-->
    
    <div id="content_items">
    
        <h1 align="center">Сайт на Django</h1>
        
        <p>На данном сайте будет нахорится различная информация(какая - пока неизвестно)))))</p>
        
        <p>Хостинг предоставлен сайтом <a href="http://www.alwaysdata.com/" >http://www.alwaysdata.com/</a></p>
        
        
    </div>
 
{% endblock %}





