{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block head %}Главная{% endblock %}


{% block current_main %} class="current" {% endblock %}
{% block nav_title %}Главная{% endblock %}

{% block nav_items %}
    <ul>
        <li><a href="/bookmarks/">Закладки</a></li>
        <li><a href="/about/">О проекте</a></li>
    </ul>
{% endblock %}

{% block main_content %}
   
    
    <div id="content_title"><h2>Сайт на Django - главная</h2></div>
    
    <div id="content_item">
    
        
        <p>На данном сайте будет нахорится различная информация(какая - пока неизвестно)))))</p>
        
        <p>Хостинг предоставлен сайтом <a href="http://www.alwaysdata.com/" >http://www.alwaysdata.com/</a></p>
        
        
    </div>
 
{% endblock %}





