{% extends "base.html" %}
{% block title %}(+)_(+){% endblock %}
{% block head %}Oops..{% endblock %}




{% block nav_title %}Меню{% endblock %}

{% block nav_items %}
    <ul>
        <li><a href="/">Главная</a></li>
    </ul>
{% endblock %}


{% block main_content %}
   
    
    <!--<div id="content_title"><p class="c_title">Главная</p></div>-->
    
    <div id="content_items">
    
        <h1 align="center">Oops... (+)_(+)</h1>
        
        <p>Пустая страничка..))</p>
        
        <p>Вообще-то эту страничку вы не должны видеть..., но если всё-таки увидели, значит нажали что-то не то)). Или это ошибка, тогда собщите пожалуйста <a href="/null/" >сюда</a>.</p>
        <p>И перейдите на <a href="/">главную</a>.</p>
        
    </div>
 
{% endblock %}





