/* 
	project:   Another Life
	author:   Diver
*/

*{ margin: 0; padding: 0; }* 

body { 
	font: .8em Tahoma, "Trebuchet MS", Tahoma, sans-serif; 
	line-height: 1.6em; 
	background: #fff url(images/bg.gif) repeat-x; 
	color: #8E8E91; 
}

a {	
	color: #EB0000;	
	background: inherit; 
	text-decoration: none; 
}

a:hover { 
	color: #808080; 
	background: inherit; 
	text-decoration: underline; 
}

p { 
	margin: 0 0 15px 0; 
}

h1 { 
	font: normal 2.8em Georgia, "Times New Roman", Arial; 
	color: #444; 
}

h2 { 
	font: normal 1.7em Georgia, "Times New Roman", Arial; 
	margin: 0 0 10px; 
	padding: 0 0 3px; 
	color: #333; 
	border-bottom: 1px solid #eee; 
}

img { 
	border: 0; 
}




.content ul {
/*-webkit-padding-start: 40px;*/
list-style-type : disc;
display: block;
margin: 10px 25px;
}

.content li {
margin: 5px;
}
	
div#content { 
	width: 930px; 
	margin: 25px auto; 
}

div#logo { 
	margin: 10px 0 20px 0; 
	width: 340px; 
	float: left; 
}

#logo p { 
	margin: 0; 
}

#menu { 
	float: right; 
	padding: 40px 0 0; 
	margin: 0 0 38px; 
}

#menu li { 
	font-size: 1.1em; 
	display: inline; 
}

#menu li a { 
	float: left; 
	width: 87px; 
	padding: 2px 0 7px; 
	text-align: center; 
	margin: 0 0 0 10px; 
	color: #636365;  
}

#menu li a.current { 
	background: #fff url(images/button.gif) no-repeat; 
	color: #fff; 
}

#menu li a:hover { 
	text-decoration: none; 
	color: #000; 
	background: #fff url(images/button_grey.gif) no-repeat; 
}

.clear { 
	clear: both; 
}

.caption { 
	background: #fff url(images/title.gif) no-repeat; 
	padding: 2px 0 0 18px; 
	height: 35px; 
	color: #fff;  
}

.caption p { 
	margin: 0; 
}

div#central {
min-height: 400px;	
}


div#sidebar { 
	margin: 0 0 20px; 
	clear: left; 
	width: 200px; 
	float: left; 
}

.box { 
	background: 
	#eee; 
}


div#sidebar img { 
	padding: 6px; 
	border-right: 1px solid #ccc; 
	border-bottom: 1px solid #ccc; 
	background: #fff;
}

.smallthumb { 
	width: 109px; 
}

div#center { 
	/*width: 500px;*/ 
	/*float: left;*/ 
	margin: 0 0 20px 215px; 
}

/*#right { 
	float: right; 
	width: 200px;
}*/

.date { 
	font-size: .8em; 
	border-top: 1px solid #eee; 
	padding: 5px 0 0; 
}

.box { 
	background: #eee; 
	padding: 10px; 
}

.box li { 
	list-style: none; 
	border-bottom: 1px dotted #ccc; 
	line-height: 26px; 
}

.box li a { 
	padding: 0 5px; 
}


/*====================================================================*/

div#footer { 
	font-size: .84em; 
	clear: both; 
	padding: 5px; 
	background: #eee; 
}

div#version {
text-align: right;
}

/*#footer a { 
	color: #444; 
}*/
/*====================================================================*/

ul.tags, ul.tags li {
display: inline;
margin: 0;
padding: 0;
}





#tag-cloud {
text-align: center;
}
#tag-cloud a {
margin: 0 0.2em;
}
.tag-cloud-0 { font-size: 100%;}
.tag-cloud-1 { font-size: 120%;}
.tag-cloud-2 { font-size: 140%;}
.tag-cloud-3 { font-size: 160%;}
.tag-cloud-4 { font-size: 180%;}
.tag-cloud-5 { font-size: 200%;}


span.color_title{
font-weight:bold;
color:/*#da5b23*/#ff0000;
}



